.container.remove-border-top
  .row.remove-margin.position-relative
    .col.l3.side-nav-style.remove-margin.position-absolute.hide-on-med-and-down
      %h5.center-align.text-white notes
      %hr
      %p.note-size.text-white Add a reminder or small note here!
    .col.l9.offset-l3.s12
      .dashboard{ data: { controller: "aos"} }
        .row.remove-margin
          .col.m8.remove-padding
            .box-1.light-grey-border.text-white.add-box-padding{"data-aos" => "zoom-out-up", "data-aos-delay" => "100"}
              %h2.bold-font Hi, Isaac
              %h5.light-font Add your goals and tasks below and check them off when completed
              %hr
              %h5.bold Today is going to be a great day!
 
          .col.m4.s6.remove-padding
            .offset-m8.box-3.light-grey-border.add-box-padding{"data-aos" => "zoom-out-up", "data-aos-delay" => "100"}
              %h3.add-button-text.center-align Add a goal
          .col.m4.s6.remove-padding
            .offset-m8.box-2.light-grey-border.add-box-padding{"data-aos" => "zoom-out-up", "data-aos-delay" => "100"}
              %h3.add-button-text.center-align Add a task
        -# goals 
        -# top priority
        %br
        -# https://swipe.js.org/ for completion
        .row.remove-margin
          .add-box-padding
            %h5.remove-margin.text-white Top Priority 
            %hr     
        .row.remove-margin
          .col.m1.s1.remove-padding 
            .center-align.add-box-padding.circle{"data-aos" => "zoom-out-right", "data-aos-delay" => "50"}
              %h5.center-align.circle-num-style.right 1
          .col.m11.s11.remove-padding 
            .background-pink.light-grey-border.add-box-padding{"data-aos" => "zoom-out-left", "data-aos-delay" => "500"}
              %h3.add-goal-text You will find your most important goals here    

        -# second priority
        %br
        .row.remove-margin
          .add-box-padding
            %h5.remove-margin.text-white General
            %hr     
        .row.remove-margin
          .col.m1.s1.remove-padding 
            .center-align.add-box-padding{"data-aos" => "zoom-out-right", "data-aos-delay" => "50"}
              %h5.center-align.circle-num-style.right 1
          .col.m11.s11.remove-padding 
            .background-pink.light-grey-border.add-box-padding{"data-aos" => "zoom-out-left", "data-aos-delay" => "700"}
              %h3.add-goal-text General goals go here
        -# tasks
        %br
        .row.remove-margin
          .add-box-padding
            %h5.remove-margin.text-white Tasks
            %hr  
        .row.remove-margin
          .remove-padding{"data-aos" => "zoom-in-up", "data-aos-delay" => "400"}
            %ul.collapsible-container
              %li.light-grey-border.add-box-padding
                .task-text Check off a task to complete it
                = form_with() do
                  .task-form.switch
                    %label.text-black
                      Nope
                      %input{:type => "checkbox"}/
                      %span.lever
                      Yup
                %i.material-icons.right delete


