/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');

html,
body {
  background-color: #242423;
  color: #333 !important; 
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
 } 

.container {
  border: 1px solid #f6f6f6;
  padding: 20px 20px 20px 20px;
  max-width: 1000px !important;
}

.remove-margin {
  margin: 0 !important;
}

.remove-padding {
  padding: 0 !important;
}

nav {
  background-color: #333533 !important;
  border-bottom: 1px solid #f6f6f6;
}

.nav-item {
  color: #ffffff !important; 
  font-size: 1.2rem !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.maximum-nav-width{
  max-width: 1000px !important;
  margin: auto;
}

.side-nav-style {
  background-color: #333533;
  height: 100%;
}

.circle-num-style {
  width: min-content;
  margin: auto;
  background-color: #333533;
  padding: 7px 9px;
  font-weight: 700;
  // border: 2px solid #f6f6f6;
  color: #F0D2D1;
}

.bold-font {
  font-weight: 700;
}

.light-font {
  font-weight: 400;
}

// remove border from small screens
@media only screen and (max-width: 600px) {
  .container {
    border: none !important;
  }
}
