// Place all the styles related to the interfaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// fade in cards
.dashboard {
  margin: 20px auto 50px auto;
  width: 100%;
  transform: translateX(200px);
  opacity:0;
  animation: start 1s ease-out forwards;
}
@keyframes start{
  0%{
    transform: translateX(200px);
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}

.text-white {
  color: #ffffff;
}

.background-pink {
  background-color: #F0D2D1;
}

.background-light-blue {
  background-color: rgb(151, 203, 207);
}

.background-lavendar {
  background-color: #DCCCFF;
}

.box-1 { 
  overflow: hidden;
  padding: 10px;
}
.box-2 {
  overflow: hidden;
  padding: none;
}

.box-2:hover {
  background-color: #ffffff;
  color: #333 !important;
}

.box-3 {
  overflow: hidden;
  padding: none;
}

.box-3:hover {
  background-color: #ffffff;
  color: #333 !important;
}

.light-grey-border {
  border: 2px solid #f6f6f6;
} 

.remove-border-top {
  border-top: none !important;
}

.add-box-padding {
  margin: 5px;
}

.add-button-text {
  font-size: 1.7rem;
  vertical-align: text-bottom;
  margin: 30px 0 !important;
}

.add-goal-text {
  font-size: 2.2rem;
}

.task-text {
  font-size: 1.5rem;
  padding: 10px 7px;
  line-height: 1.2em;
}

.float-tasks-left {
  float: left !important;
  max-width: 250px;
}

.collapsible-container {
  background-color: #242423 !important;
  border-top: none !important;
}

.hoverable:hover {
  background-color: #ffffff !important;
  color: #333 !important;
}