// Place all the styles related to the interfaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// fade in cards
.dashboard {
  margin: 20px auto 50px auto;
  width: 100%;
  transform: translateX(200px);
  opacity:0;
  animation: start 1s ease-out forwards;
  height: 100%;
}
@keyframes start{
  0%{
    transform: translateX(200px);
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #333 !important;
}

.background-pink {
  background-color: #F0D2D1;
}

.background-light-blue {
  background-color: rgb(151, 203, 207);
}

.background-lavendar {
  background-color: #DCCCFF;
}

.box-1 { 
  padding: 10px;
  color: #f6f6f6;
}

.box-2 {
  padding: none;
  color: #f6f6f6;
}

.box-2:hover {
  background-color: #d9f1e6;
  color: #333 !important;
}

.box-3 {
  padding: none;
  color: #f6f6f6;
}

.box-3:hover {
  background-color: #F0D2D1;
  color: #333 !important;
}

.light-grey-border {
  border: 2px solid #f6f6f6;
} 

.remove-border-top {
  border-top: none !important;
}

.add-box-padding {
  margin: 5px;
}

.add-button-text {
  font-size: 1.2rem;
  vertical-align: text-bottom;
  padding: 30px 0;
}

.add-goal-text {
  font-size: 1.5rem;
  padding: 0 10px;
}

.task-text {
  font-size: 1.2rem;
  padding: 15px 15px;
  line-height: 1.2em;
  color: #f6f6f6;
}

.float-tasks-left {
  float: left !important;
  max-width: 250px;
}

.collapsible-container {
  background-color: #242423 !important;
  border-top: none !important;
  max-width: 300px;
}

.hoverable:hover {
  background-color: #f6f6f6 !important;
  color: #333 !important;
}

.collapsible-body {
  background-color: #333 !important;
}

.collapsible-header {
  border: none !important;
}

hr {
  border-top: 1px solid #f6f6f6;
}

.note-size {
  line-height: 1.5rem !important;
  font-size: 1rem !important;
}

.task-form {
  padding: 4px;
  line-height: 35px;
}

.switch {
  background-color: rgb(217, 241, 230) !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #9CC4B2 !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: rgba(156, 196, 178, 0.65) !important;
}

.header-title {
  font-size: 2.5rem;
}

.header {
  font-size: 2.5rem;
  margin: 10px 0 5px 0;
}

// small screens
@media only screen and (max-width: 600px) {

  html,body {
    overflow-x: hidden;
  }

  .container {
    border: none !important;
    padding: 20px !important;
    width: 100% !important;
    overflow-y: hidden;
  }

  .collapsible-container {
    width: 100% !important;
    max-width: 100% !important;
  }

  .add-button-text {
    padding: 20px 0;
  }

}